<!DOCTYPE html>
<html>
  <head>
    <title>Pong - Menu</title>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
    <script
			src="https://cdn.socket.io/4.5.4/socket.io.min.js"
			integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
			crossorigin="anonymous"
		></script>
    <script src="./index.js" type="module"></script>
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
